---
layout: default
title: Modules Overview
---

<div class="posts">
  {% for section in site.data.sections %}
    <h1>{{ section.name }}</h1>
    <h5>{{ section.description }}</h5>
    <ul>
      {% for project in section.projects %}
        <li>
          <a href="http://github.com/{{ project.repo }}" target="_blank">
            {{project.name}}
          </a> -
          {{project.description}} - <a href="#health_{{project.name}}"><small>Project Health</small></a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>


<div class="posts">
  <table>
    <thead>
    <tr>
    <th>Project</th>
    <th>Build status</th>
    <th>Dependencies</th>
    <th>Coverage</th>
    </tr>
    </thead>
    <tbody>
  {% for section in site.data.sections %}
      {% for project in section.projects %}
        <tr id="health_{{project.name}}">
          <td>
            <a href="http://github.com/{{ project.repo }}" target="_blank">
              {{project.name}}
            </a>
          </td>
          <td>
            <a href="https://travis-ci.org/{{project.repo}}" title="Build Status">
              <img src="http://img.shields.io/travis/{{project.repo}}/master.svg?style=flat-square" />
            </a>
          </td>
          <td>
            <a href="https://david-dm.org/{{project.repo}}" title="Dependencies">
              <img src="http://img.shields.io/david/{{project.repo}}/master.svg?style=flat-square" />
            </a>
          </td>
          <td>
            <a href="https://coveralls.io/{{project.repo}}" title="Test Coverage">
              <img src="http://img.shields.io/coveralls/{{project.repo}}/master.svg?style=flat-square" />
            </a>
          </td>
        </tr>
      {% endfor %}
  {% endfor %}
  <tbody>
</table>
</div>
